# Electricity

In [1]:
import pandas as pd

from common.metrics import nd, nrmse
from datasets.electricity import ElectricityDataset
from experiments.electricity.main import splits
from summary.electricity import ElectricitySummary
from summary.utils import median_ensemble

def summary(split_name: str, summary_filter: str = '*'):
    training_set, test_set = ElectricityDataset.load().split_by_date(splits[split_name])
    summary = ElectricitySummary(test_set.split(7*24)[0])

    generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/electricity_generic', 
                                                             forecast_file=f'forecast_{split_name}.csv', 
                                                            summary_filter=summary_filter), metric=nd), index=['generic'])        
    interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/electricity_interpretable', 
                                                             forecast_file=f'forecast_{split_name}.csv', 
                                                            summary_filter=summary_filter), metric=nd), index=['interpretable'])    
    ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/electricity_*', 
                                                             forecast_file=f'forecast_{split_name}.csv', 
                                                            summary_filter=summary_filter), metric=nd), index=['ensemble'])
    return pd.concat([generic, interpretable, ensemble])

## DeepAR Split

In [2]:
summary('deepar')

100%|██████████| 60/60 [00:01<00:00, 33.14it/s]
100%|██████████| 60/60 [00:01<00:00, 36.85it/s]
100%|██████████| 120/120 [00:03<00:00, 36.01it/s]

                 all
generic        0.064
interpretable  0.074
ensemble       0.067

## DeepFactors Split

In [3]:
summary('deepfactors')

100%|██████████| 60/60 [00:01<00:00, 34.15it/s]
100%|██████████| 60/60 [00:01<00:00, 35.98it/s]
100%|██████████| 120/120 [00:03<00:00, 35.94it/s]

                 all
generic        0.065
interpretable  0.072
ensemble       0.067

## Last 7 days

In [4]:
summary('last')

100%|██████████| 60/60 [00:01<00:00, 34.42it/s]
100%|██████████| 60/60 [00:01<00:00, 35.99it/s]
100%|██████████| 120/120 [00:03<00:00, 36.54it/s]

                 all
generic        0.170
interpretable  0.187
ensemble       0.180

## Small Ensemble (1 repeat)

In [5]:
summary('deepar', summary_filter='repeat=0*')

100%|██████████| 6/6 [00:00<00:00, 35.13it/s]
100%|██████████| 6/6 [00:00<00:00, 34.30it/s]
100%|██████████| 12/12 [00:00<00:00, 35.23it/s]

                 all
generic        0.066
interpretable  0.077
ensemble       0.067

In [6]:
summary('deepfactors', summary_filter='repeat=0*')

100%|██████████| 6/6 [00:00<00:00, 36.96it/s]
100%|██████████| 6/6 [00:00<00:00, 35.86it/s]
100%|██████████| 12/12 [00:00<00:00, 36.70it/s]

                 all
generic        0.066
interpretable  0.073
ensemble       0.068

In [7]:
summary('last', summary_filter='repeat=0*')

100%|██████████| 6/6 [00:00<00:00, 34.68it/s]
100%|██████████| 6/6 [00:00<00:00, 38.98it/s]
100%|██████████| 12/12 [00:00<00:00, 37.76it/s]

                 all
generic        0.172
interpretable  0.188
ensemble       0.181