# M3

In [1]:
import pandas as pd

from summary.m3 import M3Summary
from summary.utils import median_ensemble

summary = M3Summary()

generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m3_generic')), index=['generic'])
interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m3_interpretable')), index=['interpretable'])
ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m3_*')), index=['ensemble'])
pd.concat([generic, interpretable, ensemble])

100%|██████████| 180/180 [00:02<00:00, 70.04it/s]
100%|██████████| 180/180 [00:02<00:00, 78.27it/s]
100%|██████████| 360/360 [00:04<00:00, 74.23it/s]

               M3Year  M3Quart  M3Month  M3Other  Average
generic         16.31     8.92    13.35     4.16    12.59
interpretable   15.79     9.01    13.29     4.26    12.51
ensemble        15.92     8.80    13.24     4.21    12.46

## Small Ensemble (1 repeat)

In [2]:
generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m3_generic', 
                                                        summary_filter='repeat=0*')), index=['generic'])
interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m3_interpretable', 
                                                              summary_filter='repeat=0*')), index=['interpretable'])
ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m3_*', 
                                                         summary_filter='repeat=0*')), index=['ensemble'])
pd.concat([generic, interpretable, ensemble])

100%|██████████| 18/18 [00:00<00:00, 73.46it/s]
100%|██████████| 18/18 [00:00<00:00, 82.41it/s]
100%|██████████| 36/36 [00:00<00:00, 74.61it/s]

               M3Year  M3Quart  M3Month  M3Other  Average
generic         16.30     8.99    13.45     4.13    12.67
interpretable   15.79     9.05    13.37     4.29    12.58
ensemble        15.95     8.82    13.27     4.22    12.48