# M4

In [1]:
import pandas as pd

from summary.m4 import M4Summary
from summary.utils import median_ensemble

summary = M4Summary()
generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m4_generic')), index=['SMAPE', 'OWA'])
interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m4_interpretable')), index=['SMAPE', 'OWA'])
ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m4_*')), index=['SMAPE', 'OWA'])

100%|██████████| 180/180 [01:22<00:00,  2.19it/s]
100%|██████████| 180/180 [01:19<00:00,  2.27it/s]
100%|██████████| 360/360 [02:32<00:00,  2.36it/s]

## Generic

In [2]:
generic

       Yearly  Quarterly  Monthly  Others  Average
SMAPE  13.114      9.154   12.041   3.628   11.174
OWA     0.771      0.793    0.818   0.833    0.798

## Interpretable

In [3]:
interpretable

       Yearly  Quarterly  Monthly  Others  Average
SMAPE  13.018      9.181   11.980   3.659   11.131
OWA     0.763      0.796    0.817   0.838    0.795

## Ensemble

In [4]:
ensemble

       Yearly  Quarterly  Monthly  Others  Average
SMAPE  12.991      9.131   11.977   3.636   11.110
OWA     0.762      0.792    0.815   0.835    0.793

## Small Ensemble (1 repeat)

In [5]:
summary = M4Summary()
generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m4_generic', 
                                                        summary_filter='repeat=0*')), index=['SMAPE', 'OWA'])
interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m4_interpretable',
                                                             summary_filter='repeat=0*')), index=['SMAPE', 'OWA'])
ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/m4_*',
                                                        summary_filter='repeat=0*')), index=['SMAPE', 'OWA'])

100%|██████████| 18/18 [00:07<00:00,  2.36it/s]
100%|██████████| 18/18 [00:07<00:00,  2.34it/s]
100%|██████████| 36/36 [00:15<00:00,  2.35it/s]

In [6]:
generic

       Yearly  Quarterly  Monthly  Others  Average
SMAPE  13.261      9.225   12.121   3.641   11.264
OWA     0.780      0.800    0.823   0.836    0.805

In [7]:
interpretable

       Yearly  Quarterly  Monthly  Others  Average
SMAPE  13.162      9.280   11.991   3.686   11.195
OWA     0.772      0.805    0.819   0.842    0.800

In [8]:
ensemble

       Yearly  Quarterly  Monthly  Others  Average
SMAPE  13.072      9.174   11.995   3.651   11.148
OWA     0.767      0.795    0.816   0.837    0.796