# Tourism

In [1]:
import pandas as pd

from summary.tourism import TourismSummary
from summary.utils import median_ensemble

summary = TourismSummary()
generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_generic')), index=['generic'])
interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_interpretable')), index=['interpretable'])
ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_*')), index=['ensemble'])

pd.concat([generic, interpretable, ensemble])

100%|██████████| 60/60 [00:00<00:00, 86.37it/s]
100%|██████████| 60/60 [00:00<00:00, 115.69it/s]
100%|██████████| 120/120 [00:01<00:00, 106.49it/s]

               Yearly  Quarterly  Monthly  Average
generic         21.43      14.90    19.45    18.65
interpretable   21.29      15.27    19.91    19.00
ensemble        21.36      14.95    19.47    18.67

## Small ensemble (1 repeat)

In [2]:
summary = TourismSummary()
generic = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_generic',
                                                       summary_filter='repeat=0*')), index=['generic'])
interpretable = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_interpretable',
                                                             summary_filter='repeat=0*')), index=['interpretable'])
ensemble = pd.DataFrame(summary.evaluate(median_ensemble('/experiment/storage/experiments/tourism_*',
                                                        summary_filter='repeat=0*')), index=['ensemble'])

pd.concat([generic, interpretable, ensemble])

100%|██████████| 6/6 [00:00<00:00, 109.08it/s]
100%|██████████| 6/6 [00:00<00:00, 110.09it/s]
100%|██████████| 12/12 [00:00<00:00, 97.95it/s]

               Yearly  Quarterly  Monthly  Average
generic         21.87      14.93    19.78    18.92
interpretable   21.91      15.51    20.16    19.31
ensemble        21.76      14.98    19.66    18.84